.footer-socials a svg,
.footer-global svg,
.search-icon svg {
    font-size: 1rem;
}

.footer-apps svg {
    margin-right: 0.4rem;
}


.site-footer {
    background: #ffffff;
    border-top: 1px solid #e5e7eb;
    padding: 2.5rem 1.5rem 1.5rem;
}

.footer-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

/* LEFT */
.footer-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-search {
    position: relative;
}

.footer-search input {
    padding: 0.6rem 2.2rem 0.6rem 0.8rem;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 0.9rem;
}

.search-icon {
    position: absolute;
    right: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
}

.footer-global {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: 500;
}

/* RIGHT */
.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socials {
    display: flex;
    gap: 0.8rem;
    /* background-color: #111827; */
}

.footer-socials a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #111827;
    opacity: 0.8;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition:
        transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.2s ease;
}

.footer-socials a:hover {
    opacity: 1;
    transform: translateY(-3px) scale(1.12);
}


/* BOTTOM */
.footer-bottom {
    max-width: 1200px;
    margin: 2rem auto 0;
    padding-top: 1rem;
    border-top: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.85rem;
    color: #6b7280;
}

.footer-links {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
}

.footer-links a {
    color: inherit;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-copy {
    white-space: nowrap;
}